<a href="https://colab.research.google.com/github/neon-belfante/covid-19-time-series-analysis/blob/main/Copy_of_S%C3%A9rie_tempral_COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description
This notebook aims to operationalize the concepts learned in the course [Análise de série temporal: COVID-19](https://cursos.alura.com.br/course/analise-serie-temporal-covid-19)

# Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
import datetime as date
import plotly.io as pio

# Datasets

In [2]:
df_total = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/COVID-Alura/main/cases-brazil-states.csv")
df_total.head()

,semana,data,pais,estado,cidade,novosObitos,Obitos,novosCasos,Casos,obitosMS,casosMS,obitos_por_100k,casos_por_100k,obitos_por_casos,recuperados,suspeitos,testes,testes_por_100k
0,9,2020-02-25,Brazil,SP,TOTAL,0,0,1,1,0,0,0.0,0.00218,0.0,NaN,NaN,NaN,NaN
1,9,2020-02-25,Brazil,TOTAL,TOTAL,0,0,1,1,0,0,0.0,0.00048,0.0,NaN,NaN,NaN,NaN
2,9,2020-02-26,Brazil,SP,TOTAL,0,0,0,1,0,1,0.0,0.00218,0.0,NaN,NaN,NaN,NaN
3,9,2020-02-26,Brazil,TOTAL,TOTAL,0,0,0,1,0,1,0.0,0.00048,0.0,NaN,NaN,NaN,NaN
4,9,2020-02-27,Brazil,SP,TOTAL,0,0,0,1,0,1,0.0,0.00218,0.0,NaN,NaN,NaN,NaN

# Analysis

In [3]:
df = df_total[df_total['estado'] != 'TOTAL']
df['data'] = pd.to_datetime(df['data']).dt.date

<ipython-input-3-3c5be807f8e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['data'] = pd.to_datetime(df['data']).dt.date

In [23]:
fig = px.line(df, x='data', y='Obitos', color='estado', template = 'seaborn',
              width = 800,
              title = 'Óbitos por Estado em Função do Tempo')
fig.update_layout({'title':{'font': {'size': 24}, 'x': 0.09},
                   'yaxis':{'title': {'text': 'Data', 'font':{'size': 24}}},
                   'xaxis':{'title': {'text': 'Óbitos', 'font':{'size': 24}}}
                   })
fig.show(renderer = "iframe")